* {
    font-size: 60px;
    color: #61dafb;
    background-color: #282c34;
}

button {
    background-color: #61dafb;
    color: #282c34;
    border-radius: 10px;
}

button:disabled {
    opacity: 0.5;
}

input {
    background-color: aliceblue;
    color: black;
    border: 5px solid #61dafb;
    border-radius: 10px;
}

.red {
    color: red;
}

.bgRed {
    background-color: indianred;
    border: 5px solid red;
}